<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>LearnUp - قالب HTML دوره آنلاین و آموزش</title>

    <!-- Custom CSS -->
    <link href="~/assets_user/css/styles.css" rel="stylesheet">

    <!-- Custom Color Option -->
    <link href="~/assets_user/css/colors.css" rel="stylesheet">

</head>

<body class="red-skin rtl">

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="preloader"><div class="preloader"><span></span><span></span></div></div>


    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->
        <div class="header header-light head-shadow">
            <div class="container">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="#">
                            <img src="~/assets_user/img/logo.png" class="logo" alt="" />
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">

                            <li class="active">
                                <a href="#">خانه</a>
                            </li>
                            <li>
                                <a href="/Shop/Shop">فروشگاه</a>
                            </li>

                            <li>
                                <a href="#">مکمل ها<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li>
                                        <a href="#">
                                            افزایش وزن و کربوهیدرات
                                            <span class="submenu-indicator"></span>
                                        </a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="grid-with-sidebar.html"> گینر | کربو پروتئین</a></li>
                                            <li><a href="grid-with-sidebar-2.html">کربوهیدرات و مالتودکسترین</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">کاهش وزن و چربی سوزی<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="full-width-course.html">ال کارنیتین</a></li>
                                            <li><a href="full-width-course-2.html">سی ال ای</a></li>
                                            <li><a href="full-width-course-3.html">ترموژنیک</a></li>
                                            <li><a href="full-width-course-4.html">کنترل اشتها</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            آمینو اسید ها
                                            <span class="submenu-indicator"></span>
                                        </a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="detail.html">آمینو وی</a></li>
                                            <li><a href="detail-2.html">گلوتامین و ریکاوری</a></li>
                                            <li><a href="detail-3.html">آمینو گوشت</a></li>
                                            <li><a href="detail-4.html">آمینو اسید ضروی</a></li>
                                            <li><a href="detail-5.html">آمینو اسید میکس</a></li>
                                            <li><a href="detail-6.html">آمینو اسید شاخه ای</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            پروتئین ها




                                            شکلات و پروتئین بار

                                            <span class="submenu-indicator"></span>
                                        </a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="detail.html">پروتئین وی</a></li>
                                            <li><a href="detail-2.html">پروتئین ترکیبی</a></li>
                                            <li><a href="detail-3.html">پروتئین کازئین</a></li>
                                            <li><a href="detail-4.html">پروتئین گیاهی</a></li>
                                            <li><a href="detail-5.html">پروتئین گیاهی</a></li>
                                            <li><a href="detail-6.html">پروتئین گوشت</a></li>
                                            <li><a href="detail-7.html">شکلات و پروتئین بار</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="AddRequestBarname.html">برنامه تمرینی</a>
                            </li>
                            <li><a href="contact.html">تماس با ما</a></li>

                        </ul>

                        <ul class="nav-menu nav-menu-social align-to-left">
                            <li class="login_click theme-bg">
                                <a href="register.html">خروج</a>
                            </li>
                        </ul>
                        <ul class="nav-menu nav-menu-social align-to-left">

                            <li class="login_click light">
                                <a href="AddToCart.html"><i class="ti-shopping-cart"></i> 3</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- ============================ Dashboard: Dashboard Start ================================== -->
        <section class="white pt-3">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-3 col-md-3">
                        <div class="dashboard-navbar">

                            <div class="d-user-avater">
                                <img src="~/assets_user/img/user-3.jpg" class="img-fluid avater" alt="">
                                <h4>حسام موسوی</h4>
                                <span>تهران، کرج</span>
                            </div>

                            <div class="d-navigation">
                                <ul id="side-menu">
                                    <li class="active"><a href="Dashboard_User.html"><i class="ti-user"></i>پیشخوان</a></li>
                                    <li class="dropdown">
                                        <a href="#"><i class="ti-layers"></i>پروفایل<span class="ti-angle-right"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li><a href="Edit_User_Profile.html">ویرایش پروفایل</a></li>
                                            <li><a href="Change_User_password.html">تغییر رمز عبور</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="AddToCart.html"><i class="ti-shopping-cart"></i>سبد خرید</a></li>
                                    <li class="dropdown">
                                        <a href="all-courses.html"><i class="ti-layers"></i>درخواست ها<span class="ti-angle-right"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li><a href="RequestMokamel.html">مکمل</a></li>
                                            <li><a href="RequestBarname.html">برنامه تمرینی</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="Orders.html"><i class="ti-layers"></i>سفارشات</a></li>
                                    <li><a href="Notifications.html"><i class="ti-comment-alt"></i>اعلانات</a></li>
                                    <li><a href="#"><i class="ti-power-off"></i>خروج</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- ************************************************************************
                    *****************************************************************************
                    *****************************************************************************
                    ************************************************************************* -->
                    @RenderBody()


                </div>
            </div>
        </section>
        <!-- ============================ Dashboard: Dashboard End ================================== -->
        <!-- ============================ Footer Start ================================== -->
        <footer class="dark-footer skin-dark-footer">
            <div>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-3">
                            <div class="footer-widget">
                                <img src="~/assets_user/img/logo-light.png" class="img-footer" alt="" />
                                <div class="footer-add">
                                    <p>تهران، خیابان سعادت آباد، خیابان کاج</p>
                                    <p>+1 246-345-0695</p>
                                    <p>info@learnup.com</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="footer-widget">
                                <h4 class="widget-title">لینک مفید</h4>
                                <ul class="footer-menu">
                                    <li><a href="about-us.html">درباره ما</a></li>
                                    <li><a href="faq.html">سوالات متداول</a></li>
                                    <li><a href="checkout.html">تسویه حساب</a></li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                    <li><a href="blog.html">وبلاگ</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3">
                            <div class="footer-widget">
                                <h4 class="widget-title">دسته بندی</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">طراحی وب</a></li>
                                    <li><a href="#">شبکه و امنیت</a></li>
                                    <li><a href="#">برنامه نویسی وب</a></li>
                                    <li><a href="#">پایگاه داده</a></li>
                                    <li><a href="#">برنامه نویسی موبایل</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3">
                            <div class="footer-widget">
                                <h4 class="widget-title">راهنما و پشتیبانی</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">اسناد</a></li>
                                    <li><a href="#">چت آنلاین</a></li>
                                    <li><a href="#">ارسال ایمیل</a></li>
                                    <li><a href="#">قوانین و شرایط</a></li>
                                    <li><a href="#">سوالات متداول</a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-6">
                            <p class="mb-0">© 2022 LearnUp ارائه شده توسط <a href="#">راست چین</a></p>
                        </div>

                        <div class="col-lg-6 col-md-6 text-left">
                            <ul class="footer-bottom-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- ============================ Footer End ================================== -->
        <!-- Log In Modal -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <div class="modal-content" id="registermodal">
                    <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    <div class="modal-body">
                        <h4 class="modal-header-title">ورود به حساب</h4>
                        <div class="login-form">
                            <form>

                                <div class="form-group">
                                    <label>نام کاربری</label>
                                    <input type="text" class="form-control" placeholder="نام کاربری">
                                </div>

                                <div class="form-group">
                                    <label>رمز عبور</label>
                                    <input type="password" class="form-control" placeholder="*******">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-md full-width pop-login">ورود به حساب</button>
                                </div>

                            </form>
                        </div>

                        <div class="social-login mb-3">
                            <ul>
                                <li>
                                    <input id="reg" class="checkbox-custom" name="reg" type="checkbox">
                                    <label for="reg" class="checkbox-custom-label">ذخیره رمزعبور</label>
                                </li>
                                <li class="left"><a href="#" class="theme-cl">رمز عبور خود را فراموش کرده اید؟</a></li>
                            </ul>
                        </div>

                        <div class="modal-divider"><span>یـا</span></div>
                        <div class="social-login ntr mb-3">
                            <ul>
                                <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
                                <li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
                            </ul>
                        </div>

                        <div class="text-center">
                            <p class="mt-2">حساب کاربری دارید؟ <a href="register.html" class="link">ورود به اکانت</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        <!-- Sign Up Modal -->
        <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <div class="modal-content" id="sign-up">
                    <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    <div class="modal-body">
                        <h4 class="modal-header-title">ثبت نام</h4>
                        <div class="login-form">
                            <form>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="نام کامل">
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="پست الکترونیکی">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="نام کاربری">
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="*******">
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-md full-width pop-login">ثبت نام</button>
                                </div>

                            </form>
                        </div>

                        <div class="modal-divider"><span>یـا</span></div>
                        <div class="social-login ntr mb-3">
                            <ul>
                                <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
                                <li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
                            </ul>
                        </div>

                        <div class="text-center">
                            <p class="mt-3"><i class="ti-user ml-1"></i>آیا حساب کاربری دارید؟ <a href="#" class="link">ورود به حساب کاربری</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets_user/js/jquery.min.js"></script>
    <script src="~/assets_user/js/popper.min.js"></script>
    <script src="~/assets_user/js/bootstrap.min.js"></script>
    <script src="~/assets_user/js/select2.min.js"></script>
    <script src="~/assets_user/js/slick.js"></script>
    <script src="~/assets_user/js/jquery.counterup.min.js"></script>
    <script src="~/assets_user/js/counterup.min.js"></script>
    <script src="~/assets_user/js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="~/assets_user/js/metisMenu.min.js"></script>
    <script>
        $('#side-menu').metisMenu();
    </script>
</body>
</html>