@{
    Layout = "_AdminLayout";
}
@section Styles{

}
<!-- ============================ Dashboard: Dashboard Start ================================== -->
<section class="gray pt-5">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 col-md-3">
                <div class="dashboard-navbar">

                    <div class="d-user-avater">
                        <img src="assets/img/user-3.jpg" class="img-fluid avater" alt="">
                        <h4>حسام موسوی</h4>
                        <span>تهران، کرج</span>
                    </div>

                    <div class="d-navigation">
                        <ul id="side-menu">
                            <li class="active"><a href="dashboard.html"><i class="ti-user"></i>داشبورد</a></li>
                            <li><a href="my-profile.html"><i class="ti-heart"></i> پروفایل</a></li>
                            <li><a href="my-profile.html"><i class="ti-heart"></i>محصولات</a></li>
                            <li class="dropdown">
                                <a href="all-courses.html"><i class="ti-layers"></i>لیست سفارش ها<span class="ti-angle-right"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="all-courses.html">سفارشات جدید</a></li>
                                    <li><a href="javascript:void(0);">  سفارشات تکمیل شده</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="all-courses.html"><i class="ti-layers"></i> گزارشات<span class="ti-angle-right"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="all-courses.html">درآمد</a></li>
                                    <li><a href="javascript:void(0);">تعداد فروش</a></li>
                                    <li><a href="javascript:void(0);">تعداد کاربران</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="all-courses.html"><i class="ti-layers"></i> درخواست ها<span class="ti-angle-right"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="all-courses.html"> مکمل</a></li>
                                    <li><a href="javascript:void(0);"> برنامه تمرینی</a></li>
                                </ul>
                            </li>
                            <li><a href="my-order.html"><i class="ti-shopping-cart"></i>لیست کاربران</a></li>
                            <li><a href="reviews.html"><i class="ti-comment-alt"></i>لیست نظرات</a></li>
                            <li><a href="reviews.html"><i class="ti-comment-alt"></i>اعلانات</a></li>
                            <li><a href="#"><i class="ti-power-off"></i>خروج</a></li>
                        </ul>
                    </div>

                </div>


            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                <li class="breadcrumb-item active" aria-current="page">داشبورد</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- /Row -->
                <!-- Row -->
                <div class="row">

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="dashboard_stats_wrap">
                            <div class="dashboard_stats_wrap_content"><h4 class="text-success">10</h4> <span>سفارشات جدید</span></div>
                            <div class="dashboard_stats_wrap-icon"><i class="ti-location-pin"></i></div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="dashboard_stats_wrap">
                            <div class="dashboard_stats_wrap_content"><h4 class="text-warning">42</h4> <span>درخواست های جدید</span></div>
                            <div class="dashboard_stats_wrap-icon"><i class="ti-pie-chart"></i></div>
                        </div>
                    </div>
                    ط
                </div>
                <!-- /Row -->
                <!-- Row -->
                <div class="row">

                    <div class="col-lg-8 col-md-12 col-sm-12">


                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h6>اعلانات</h6>
                                </div>
                                <div class="ground-list ground-hover-list">
                                    <div class="ground ground-list-single">
                                        <a href="#">
                                            <div class="btn-circle-40 btn-success"><i class="ti-calendar"></i></div>
                                        </a>

                                        <div class="ground-content">
                                            <h6><a href="#">مریم امیری</a></h6>
                                            <small class="text-fade">داشبورد مدیریت جدید را بررسی کنید..</small>
                                            <span class="small">هم اکنون</span>
                                        </div>
                                    </div>

                                    <div class="ground ground-list-single">
                                        <a href="#">
                                            <div class="btn-circle-40 btn-danger"><i class="ti-calendar"></i></div>
                                        </a>

                                        <div class="ground-content">
                                            <h6><a href="#">علی سعادت</a></h6>
                                            <small class="text-fade">می توانید سفارشی کنید..</small>
                                            <span class="small">2دقیقه پیش</span>
                                        </div>
                                    </div>

                                    <div class="ground ground-list-single">
                                        <a href="#">
                                            <div class="btn-circle-40 btn-info"><i class="ti-calendar"></i></div>
                                        </a>

                                        <div class="ground-content">
                                            <h6><a href="#">نیلوفر اکبری</a></h6>
                                            <small class="text-fade">به یک تیم تجاری پاسخگو نیاز داریم...</small>
                                            <span class="small">10دقیقه پیش</span>
                                        </div>
                                    </div>

                                    <div class="ground ground-list-single">
                                        <a href="#">
                                            <div class="btn-circle-40 btn-warning"><i class="ti-calendar"></i></div>
                                        </a>

                                        <div class="ground-content">
                                            <h6><a href="#">سینا داوودی</a></h6>
                                            <small class="text-fade">جلسه بعدی سه شنبه..</small>
                                            <span class="small">15دقیقه پیش</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /Row -->

                </div>

            </div>

        </div>
</section>
<!-- ============================ Dashboard: Dashboard End ================================== -->
