<!-- ============================ Product Detail Start================================== -->

<div class="col-lg-9 col-md-12">

	<div class="woocommerce single_product quick_view_wrap">

		<div class="woo-single-images">
			<div class="feature-style-single">
				<img src="~/assets_user/img/book-1.png" alt="product-book-06" width="570">
			</div>
		</div>

		<div class="summary entry-summary">
			<div class="woo_inner">
				<div class="shop_status sell">جدید</div>
				<h2 class="woo_product_title">
					<a href="#">@Model.Name</a>
				</h2>
				<ul class="woo_info">
					<li><strong>دسته بندی: </strong>@Model.Category</li>
					<li><strong>شماره: </strong>@Model.Number</li>
				</ul>
				<div class="woo_price_rate">
					<div class="woo_rating">
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star"></i>
					</div>
					<div class="woo_price_fix">
						<h3 class="mb-0 theme-cl">@Model.Price</h3>
					</div>
				</div>
				<div class="woo_short_desc">
					<li><label>وزن:@Model.weight</label></li>
					<li><label>برند:@Model.Brand</label></li>
					<li><label>طعم:@Model.Test</label></li>

					<p>برای بسیاری از معلمان دانشجو، چشم انداز مواجهه با اولین تجربه کلاسی خود بسیار زیاد است. این کتاب دیدگاهی واقع گرایانه از آنچه در کلاس با آن ها روبرو خواهد شد ارائه می دهد، اما همچنین مهارت هایی را که برای تبدیل شدن به معلمان حرفه ای و متفکر به آن ها نیاز دارند، ارائه می دهد.</p>
				</div>
				<div class="quantity-button-wrapper">
					<label>تعداد</label>
					<div class="quantity">
						<input type="number" class="form-control qty" min="1" value="1" title="Qty" placeholder="" inputmode="numeric">
					</div>
				</div>
				<div class="woo_buttons">
					<a href="Shop.html" class="btn btn-theme2">افزودن به سبد</a>
					<a href="Shop.html" class="btn btn-theme2">بازگشت</a>
				</div>
			</div>

		</div>


	</div>
	<!-- Reviews -->
	<div class="rating-overview">
		<div class="rating-overview-box">
			<span class="rating-overview-box-total">4.2</span>
			<span class="rating-overview-box-percent">از امتیاز 5</span>
			<div class="star-rating" data-rating="5">
				<i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i>
			</div>
		</div>

		<div class="rating-bars">
			<div class="rating-bars-item">
				<span class="rating-bars-name">5 ستاره</span>
				<span class="rating-bars-inner">
					<span class="rating-bars-rating high" data-rating="4.7">
						<span class="rating-bars-rating-inner" style="width: 85%;"></span>
					</span>
					<strong>85%</strong>
				</span>
			</div>
			<div class="rating-bars-item">
				<span class="rating-bars-name">4 ستاره</span>
				<span class="rating-bars-inner">
					<span class="rating-bars-rating good" data-rating="3.9">
						<span class="rating-bars-rating-inner" style="width: 75%;"></span>
					</span>
					<strong>75%</strong>
				</span>
			</div>
			<div class="rating-bars-item">
				<span class="rating-bars-name">3 ستاره</span>
				<span class="rating-bars-inner">
					<span class="rating-bars-rating mid" data-rating="3.2">
						<span class="rating-bars-rating-inner" style="width: 52.2%;"></span>
					</span>
					<strong>53%</strong>
				</span>
			</div>
			<div class="rating-bars-item">
				<span class="rating-bars-name">1 ستاره</span>
				<span class="rating-bars-inner">
					<span class="rating-bars-rating poor" data-rating="2.0">
						<span class="rating-bars-rating-inner" style="width:20%;"></span>
					</span>
					<strong>20%</strong>
				</span>
			</div>
		</div>
	</div>

	<!-- Reviews -->
	<div class="list-single-main-item fl-wrap">
		<div class="list-single-main-item-title fl-wrap">
			<h3>تاکنون <span> 3 </span> دیدگاه ثبت شده است!</h3>
		</div>
		<div class="reviews-comments-wrap">
			<!-- reviews-comments-item -->
			<div class="reviews-comments-item">
				<div class="review-comments-avatar">
					<img src="~/assets_user/img/user-1.jpg" class="img-fluid" alt="">
				</div>
				<div class="reviews-comments-item-text">
					<h4><a href="#">محمد خاکپور</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>10 بهمن 1399</span></h4>

					<div class="listing-rating high" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><span class="review-count">4.9</span> </div>
					<div class="clearfix"></div>
					<p>"ظاهرا آموزش کاملی بنظر میاد و میخوام بخرم ولی کاش بجای ساخت فروشگاه، پلاگین نویسی برا ووکامرس رو هم توضیح میدادین، البته میتونین تکمیل کنین این دوره رو و آپدیت کنین"</p>
					<div class="pull-left reviews-reaction">
						<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
						<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
						<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
					</div>
				</div>
			</div>
			<!--reviews-comments-item end-->
			<!-- reviews-comments-item -->
			<div class="reviews-comments-item">
				<div class="review-comments-avatar">
					<img src="~/assets_user/img/user-2.jpg" class="img-fluid" alt="">
				</div>
				<div class="reviews-comments-item-text">
					<h4><a href="#">الهام پاکزاد</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>26 مرداد 1399</span></h4>

					<div class="listing-rating mid" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star"></i><span class="review-count">3.7</span> </div>
					<div class="clearfix"></div>
					<p>"سلام.من PHP رو تو دوران هنرستان یاد گرفتم.اگه PHP رو به صورت مقدماتی کار کرده باشم ولی در حدی باشیم که درک نسبتا کاملی از کد خط ها و معنا و مفهوم آن داشته باشیم، کفایت میکنه یا باید پیشرفته تر آموزش ویدیویی ببینم؟ "</p>
					<div class="pull-left reviews-reaction">
						<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
						<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
						<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
					</div>
				</div>
			</div>
			<!--reviews-comments-item end-->
			<!-- reviews-comments-item -->
			<div class="reviews-comments-item">
				<div class="review-comments-avatar">
					<img src="~/assets_user/img/user-3.jpg" class="img-fluid" alt="">
				</div>
				<div class="reviews-comments-item-text">
					<h4><a href="#">مهدی فدایی</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>20 بهمن 1398</span></h4>

					<div class="listing-rating good" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star"></i> <span class="review-count">4.2</span> </div>
					<div class="clearfix"></div>
					<p>" سلام. برای یادگرفتن پیش نیاز این دوره که پی اچ پی هست تا کدام قسمت از اموزش پی اچ پی لازمه که یاد گرفته بشه؟(مطابق سرفصل های همین دوره در سایت) "</p>
					<div class="pull-left reviews-reaction">
						<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
						<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
						<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
					</div>
				</div>
			</div>
			<!--reviews-comments-item end-->

		</div>
	</div>

	<!-- Submit Reviews -->
	<div class="edu_wraper">
		<h4 class="edu_title">ارسال نظر شما</h4>
		<div class="review-form-box form-submit">
			<form>
				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="form-group">
							<label>نام</label>
							<input class="form-control" type="text" placeholder="نام شما">
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="form-group">
							<label>ایمیل</label>
							<input class="form-control" type="email" placeholder="ایمیل شما">
						</div>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="form-group">
							<label>متن دیدگاه</label>
							<textarea class="form-control ht-140" placeholder="دیدگاه خود را وارد نمایید"></textarea>
						</div>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="form-group">
							<button type="submit" class="btn btn-theme">ثبت دیدگاه</button>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>

</div>

<!-- Sidebar -->
				</div>
<!-- ============================ Product Detail End ================================== -->
