
                            
                            <div class="col-lg-9 col-md-12 col-sm-12 order-0 order-lg-0 order-md-0">
                            
                                <!-- Row -->
                                <div class="row align-items-center mb-3">
                                    <div class="col-lg-6 col-md-6 col-sm-12 ordering">
                                        <div class="filter_wraps">
                                            <form class="form-inline addons mb-3">
                                                <input class="form-control" type="search" placeholder="جستجو محصول/برند" aria-label="Search">
                                                <button class="btn my-3 my-sm-0" type="submit"><i class="ti-search"></i></button>
                                            </form>	
                                            <div class="dropdown show">
                                                <a class="btn btn-custom dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  دسته بندی
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">کاهش وزن</a>
                                                <a class="dropdown-item" href="#">افزایش وزن</a>
                                                <a class="dropdown-item" href="#">تناسب اندام</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Row -->
                                <!-- /Row -->
                                
                                <div class="row">
                            
                                    <!-- Single Product -->
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                
                                        <div class="shop_grid">
                                            <div class="shop_status hot">ویژه</div>
                                            <div class="shop_grid_thumb">
                                                <a href="#"><img src="assets_user/img/book-1.png" class="img-fluid" alt="" /></a>
                                            </div>
                                            <div class="shop_grid_caption">
                                                <h4 class="sg_rate_title"><a href="#">کتاب تابستان یازدهم ریاضی</a></h4>
                                                <div class="shop_grid_rate">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <span class="sg_rate theme-cl">38000 تومان</span>
                                            </div>
                                            <div class="shop_grid_action">
                                                <a href="ProductDetail_User" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="مشاهده"><i class="ti-zoom-in"></i></a>
                                                <a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="افزودن به سبد"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- Single Product -->
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                
                                        <div class="shop_grid">
                                            <div class="shop_grid_thumb">
                                                <a href="#"><img src="assets_user/img/book-2.png" class="img-fluid" alt="" /></a>
                                            </div>
                                            <div class="shop_grid_caption">
                                                <h4 class="sg_rate_title"><a href="#">کتاب آبی پیمانه ای اقتصاد کنکور انسانى</a></h4>
                                                <div class="shop_grid_rate">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <span class="sg_rate theme-cl">63000 تومان</span>
                                            </div>
                                           <div class="shop_grid_action">
                                                <a href=ProductDetail_User class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="مشاهده"><i class="ti-zoom-in"></i></a>
                                                <a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="افزودن به سبد"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- Single Product -->
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                
                                        <div class="shop_grid">
                                            <div class="shop_status sell">جدید</div>
                                            <div class="shop_grid_thumb">
                                                <a href="#"><img src="assets_user/img/book-3.png" class="img-fluid" alt="" /></a>
                                            </div>
                                            <div class="shop_grid_caption">
                                                <h4 class="sg_rate_title"><a href="#">کتاب آبی پیمانه ای زیست شناسی</a></h4>
                                                <div class="shop_grid_rate">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                </div>
                                                <span class="sg_rate theme-cl">129000 تومان</span>
                                            </div>
                                           <div class="shop_grid_action">
                                                <a href=ProductDetail_User class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="مشاهده"><i class="ti-zoom-in"></i></a>
                                                <a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="افزودن به سبد"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- Single Product -->
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                
                                        <div class="shop_grid">
                                            <div class="shop_grid_thumb">
                                                <a href="#"><img src="assets_user/img/book-4.png" class="img-fluid" alt="" /></a>
                                            </div>
                                            <div class="shop_grid_caption">
                                                <h4 class="sg_rate_title"><a href="#">کتاب آبی پیمانه ای شیمی پایه</a></h4>
                                                <div class="shop_grid_rate">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <span class="sg_rate theme-cl">249000 تومان</span>
                                            </div>
                                           <div class="shop_grid_action">
                                                <a href=ProductDetail_User class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="مشاهده"><i class="ti-zoom-in"></i></a>
                                                <a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="افزودن به سبد"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- Single Product -->
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                
                                        <div class="shop_grid">
                                            <div class="shop_status hot">ویژه</div>
                                            <div class="shop_grid_thumb">
                                                <a href="#"><img src="assets_user/img/book-5.png" class="img-fluid" alt="" /></a>
                                            </div>
                                            <div class="shop_grid_caption">
                                                <h4 class="sg_rate_title"><a href="#">کتاب آبی پیمانه ای شیمی دوازدهم</a></h4>
                                                <div class="shop_grid_rate">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                </div>
                                                <span class="sg_rate theme-cl">359000 تومان</span>
                                            </div>
                                           <div class="shop_grid_action">
                                                <a href=ProductDetail_User class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="مشاهده"><i class="ti-zoom-in"></i></a>
                                                <a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="افزودن به سبد"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- Single Product -->
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                
                                        <div class="shop_grid">
                                            <div class="shop_status sell">جدید</div>
                                            <div class="shop_grid_thumb">
                                                <a href="#"><img src="assets_user/img/book-6.png" class="img-fluid" alt="" /></a>
                                            </div>
                                            <div class="shop_grid_caption">
                                                <h4 class="sg_rate_title"><a href="#">کتاب آبی پیمانه ای عربی کنکور</a></h4>
                                                <div class="shop_grid_rate">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <span class="sg_rate theme-cl">68000 تومان</span>
                                            </div>
                                           <div class="shop_grid_action">
                                                <a href=ProductDetail_User class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="مشاهده"><i class="ti-zoom-in"></i></a>
                                                <a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="افزودن به سبد"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- Single Product -->
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                
                                        <div class="shop_grid">
                                            <div class="shop_grid_thumb">
                                                <a href="#"><img src="assets_user/img/book-7.png" class="img-fluid" alt="" /></a>
                                            </div>
                                            <div class="shop_grid_caption">
                                                <h4 class="sg_rate_title"><a href="#">کتاب عربی عمار (واژه نامه جامع انسانی)</a></h4>
                                                <div class="shop_grid_rate">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                </div>
                                                <span class="sg_rate theme-cl">19000 تومان</span>
                                            </div>
                                           <div class="shop_grid_action">
                                                <a href=ProductDetail_User class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="مشاهده"><i class="ti-zoom-in"></i></a>
                                                <a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="افزودن به سبد"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- Single Product -->
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                
                                        <div class="shop_grid">
                                            <div class="shop_status hot">ویژه</div>
                                            <div class="shop_grid_thumb">
                                                <a href="#"><img src="assets_user/img/book-8.png" class="img-fluid" alt="" /></a>
                                            </div>
                                            <div class="shop_grid_caption">
                                                <h4 class="sg_rate_title"><a href="#">جامعه شناسی کنکور انسانی</a></h4>
                                                <div class="shop_grid_rate">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <span class="sg_rate theme-cl">149000 تومان</span>
                                            </div>
                                           <div class="shop_grid_action">
                                                <a href=ProductDetail_User class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="مشاهده"><i class="ti-zoom-in"></i></a>
                                                <a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="افزودن به سبد"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- Single Product -->
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                
                                        <div class="shop_grid">
                                            <div class="shop_grid_thumb">
                                                <a href="#"><img src="assets_user/img/book-9.png" class="img-fluid" alt="" /></a>
                                            </div>
                                            <div class="shop_grid_caption">
                                                <h4 class="sg_rate_title"><a href="#">کتاب تست شیمی دوازدهم</a></h4>
                                                <div class="shop_grid_rate">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                </div>
                                                <span class="sg_rate theme-cl">249000 تومان</span>
                                            </div>
                                           <div class="shop_grid_action">
                                                <a href=ProductDetail_User class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="مشاهده"><i class="ti-zoom-in"></i></a>
                                                <a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="افزودن به سبد"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        
                                        <!-- Pagination -->
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <ul class="pagination p-center">
                                                    <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span class="ti-arrow-right"></span>
                                                        <span class="sr-only">قبل</span>
                                                    </a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">18</a></li>
                                                    <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span class="ti-arrow-left"></span>
                                                        <span class="sr-only">بعد</span>
                                                    </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- /Row -->
                                
                            </div>
                        <!-- Row -->
                    </div>
                </section>
                      